*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    color: #545454;
}

.container{
    background: #14bdac;
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
}

.title{
    text-align: center;
}

.title span{
    color: #f2ebd3;
}

.status-action{
    display: flex;
    margin-top: 25px;
    font-size: 25px;
    justify-content: space-around;
    height: 30px;
}

.status span{
    color: #f2ebd3;
}

.reset{
    cursor: pointer;
}

.reset:hover{
    color: #f2ebd3;
}

.game-grid{
    background: #0da192;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
    margin-top: 50px;
}

.game-cell{
    height: 200px;
    width: 200px;
    background: #14bdac;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.x::before{
    content: '×';
    font-size: 200px;
}

.o::before{
    content: '○';
    font-size: 225px;
    color: #f2ebd3;
}

.one::after{
    color: red;
}

@media only screen and (max-width:1024px){
    .game-grid{
        margin-top: 25px;
        grid-gap: 10px;
    }
    .game-cell{
        height: 150px;
        width: 150px;
    }
    .x::before{
        font-size: 150px;
    }
    .o::before{
        font-size: 175px;
    }
}

@media only screen and (max-width:600px){
    .container{
        margin: 25px;
        padding: 25px;
    }
    .game-cell{
        height: 75px;
        width: 75px;
    }
    .x::before{
        font-size: 80px;
    }
    .o::before{
        font-size: 105px;
    }
}